<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title class="deliveryh3">Kapcsolat</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <div>
                <p [ngStyle]="{'text-align':'center', 'font-size':'2vh'}">Boltunk és webshopunk sok-sok éves tapasztalatra épülve nyújtja
                    különlegesen prémium szolgáltatásait minden
                    vásárlónak, aki megtisztel minket bizalmával.</p>
                <p [ngStyle]="{'text-align':'center', 'font-size':'2vh'}"> A kiváló prémium minőségre garanciát vállalunk. Minden egyes
                    csomagunkat ellenőrizzük, hogy aztán a Te
                    küszöbödig vihesse futárunk.</p>

                <h2>Nyitva tartás a boltban:
                    <br>
                    H-P: 8:00 - 19:00
                    <br>
                    SZ: 8:30 - 13.00
                    <br>
                    V: ZÁRVA
                </h2>

                <h2>
                    <mat-icon>call</mat-icon>
                    +36 30 420 1337
                </h2>
                <h2>
                    <mat-icon>email</mat-icon>
                    frisskosar&#64;gmail.com
                </h2>
            </div>
            <div *ngIf="imageUrl">
                <img [ngClass]="{'contactImg': imageUrl}" [src]="imageUrl | async" alt="Kapcsolat kép">
            </div>

          <div>
            <h2 class="socialMedia">Kövess minket közösségi média oldalainkon!</h2>
            <a title="Plusz pont ugyebár" href="https://www.youtube.com/watch?v=wPs77cysK_4" target="_blank"><img  class="icos" src="../../../assets/facebook-contact.ico" alt=""></a>
            <a title="Plusz pont ugyebár" href="https://www.youtube.com/watch?v=QwLvrnlfdNo" target="_blank"><img class="icos" src="../../../assets/tiktok-contact.ico" alt=""></a>
            <a title="Plusz pont ugyebár" href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank"><img class="icos" src="../../../assets/youtube-contact.ico" alt=""></a>
            <a title="Plusz pont ugyebár" href="https://youtu.be/D9OxhdQnmBM?si=eG0cmkPiMJGyHkBF&t=33" target="_blank"><img class="icos" src="../../../assets/instagram-contact.ico" alt=""></a>
          </div>

        </mat-card-content>
    </mat-card>
</div>
