
mat-card-header {
  display: initial;
}

mat-icon {
  vertical-align: middle;
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
}
.icos{
  padding: 1vh;
}

.main_component {
  height: 80vh;
  width: 160vh;
  align-items: center;
  margin: auto;
}

mat-card {
  width: 100%;
  height: 100%;
  align-self: center;
}


mat-icon {
  color: red;
  vertical-align: middle;
}


h1 {
  font-family: "Signika Negative Light", monospace;
  font-weight: bold;
  font-size: 5vh;
}

h3 {
  font-family: "Signika Negative Light", monospace;
  font-size: 2vh;
  text-align: left;
  font-weight: bold;
}


.deliveryh3 {
  font-size: 3vh;
}

a {
  font-family: "Signika Negative Light", monospace;
  font-weight: bold;
  text-decoration: none;
  color: #41B06E;
  transition: font-size 0.3s;
}

.contactImg {
  width: 30vh;
  height: 20vh;
}

a:hover {
  font-size: 1.1em;
}

p {
  font-size: 1.75vh;
  text-align: left;
}
.socialMedia{
  margin-bottom: 0;
    text-align: center;
}
