<div *ngIf="!isThisBuyingPopUp">
  <h2 [ngStyle]="{'font-weight':'bold', 'font-family': 'Bodoni MT Poster Compressed, cursive'}" mat-dialog-title>Nem vagy
  bejelentkezve!</h2>
<mat-dialog-content [ngStyle]="{'font-weight':'bold', 'font-family': 'Bodoni MT Poster Compressed, cursive'}">
  <a mat-dialog-close routerLink="/signup">Regisztrálj</a> vagy
  <a mat-dialog-close routerLink="/login">jelentkezz</a> be a {{data.pageName}} oldal használatához!
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Bezárás</button>
</mat-dialog-actions>
</div>

<div *ngIf="isThisBuyingPopUp">
<h2 [ngStyle]="{'font-weight':'bold', 'font-family': 'Bodoni MT Poster Compressed, cursive'}" mat-dialog-title>Nem vagy
  bejelentkezve!</h2>
<mat-dialog-content [ngStyle]="{'font-weight':'bold', 'font-family': 'Bodoni MT Poster Compressed, cursive'}">
  <a mat-dialog-close routerLink="/signup">Regisztrálj</a> vagy
  <a mat-dialog-close routerLink="/login">jelentkezz</a> be, ha szeretnél vásárolni!
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Bezárás</button>
</mat-dialog-actions>
</div>
