<div *ngIf="!isThisBuyingPopUp && !holder">
    <h2 [ngStyle]="{'font-weight':'bold', 'font-family': 'Signika Negative Light, monospace'}" mat-dialog-title>Nem
        vagy
        bejelentkezve!</h2>
    <mat-dialog-content [ngStyle]="{'font-weight':'bold', 'font-family': 'Signika Negative Light, monospace'}">
        <a mat-dialog-close routerLink="/signup">Regisztrálj</a> vagy
        <a mat-dialog-close routerLink="/login">jelentkezz</a> be a {{data.pageName}} oldal használatához!
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" mat-dialog-close>Bezárás</button>
    </mat-dialog-actions>
</div>

<div *ngIf="isThisBuyingPopUp && !holder">
    <h2 [ngStyle]="{'font-weight':'bold', 'font-family': 'Signika Negative Light, monospace'}" mat-dialog-title>Nem
        vagy
        bejelentkezve!</h2>
    <mat-dialog-content [ngStyle]="{'font-weight':'bold', 'font-family': 'Signika Negative Light, monospace'}">
        <a mat-dialog-close routerLink="/signup">Regisztrálj</a> vagy
        <a mat-dialog-close routerLink="/login">jelentkezz</a> be, ha szeretnél vásárolni!
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" mat-dialog-close>Bezárás</button>
    </mat-dialog-actions>
</div>

<div *ngIf="isThisFirstRegistration && holder">
    <h2 [ngStyle]="{'font-weight':'bold', 'font-family': 'Signika Negative Light, monospace'}" mat-dialog-title>
        Sikeres regisztráció! Jóváírtunk <a mat-dialog-close routerLink="/profile">számodra</a> 30 FrissPontot!</h2>
    <mat-dialog-content [ngStyle]="{'font-weight':'bold', 'font-family': 'Signika Negative Light, monospace'}">
        Tekintsd meg legfrissebb
        <a mat-dialog-close routerLink="/products">Termékeinket</a> vagy
        <a mat-dialog-close routerLink="/login">Kuponjainkat</a>.
        További jó vásárlást!
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" mat-dialog-close>Bezárás</button>
    </mat-dialog-actions>
</div>
