li {
  cursor: pointer;
  padding: 1vh;
}

li:hover, mat-label:hover {
  background-color: #73cb97 !important;
}

mat-card-content {
  align-items: center;
  text-align: center;
  align-content: center;
  align-self: center;
}

mat-form-field {
  align-self: center;
}

mat-card-content {
  position: fixed;
}

input {
  position: fixed;
}

mat-card-content {
  position: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container .mat-form-field {
  margin-right: 10px;
  min-width: 100px;
}

.container ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  font-weight: bold;
  font-size: 1.5vh;
}

.container ul li {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10pxx;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


mat-card-header {
  display: initial;
}

mat-icon {
  vertical-align: middle;
}

.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80%;
}

.main_component {
  height: 80vh;
  width: 160vh;
  align-items: center;
  margin: auto;
}

mat-card {
  width: 100%;
  height: 100%;
  align-self: center;
}


mat-icon {
  color: red;
  vertical-align: middle;
}


h1 {
  font-family: "sans-serif", sans-serif;
  font-weight: bold;
  font-size: 5vh;
}

h3 {
  font-family: "sans-serif", sans-serif;
  font-size: 2vh;
  text-align: left;
  font-weight: bold;
}


.deliveryh3 {
  font-size: 3vh;
  text-align: center;
  padding-bottom: 30%;
}

a {
  display: flow;
  font-family: "sans-serif", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

img {
  width: 30vh;
  height: 20vh;
}

p {
  font-size: 1.75vh;
  text-align: left;
}
