/* products.component.scss */
*{
  overflow: visible;
}
.category-container {
  height: 100%;
  width: 50%;
  align-self: center;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding: 10px;
}

.category-card {
  margin: 10px;
  max-width: 500px
}


/*
.category-container {
  height: 100%;
  width: 50%;
  align-self: center;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding: 10px;
  overflow-y: auto;
}
*/
/*
.category-card {
  margin: 10px;
  max-width: 500px;
  margin-bottom: 20px;
}
*/

.outer-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-title {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  padding: 5px;
  align-self: center;
  justify-content: center;
}

.category-image {
  max-width: 250px;
  max-height: 250px;
}
.category-button{
  font-size: 1.5em;
  align-self: center;
}

mat-card-content img{
  width: 400px;
  height: 200px;
}
