*:not(mat-icon) {
  font-family: "Signika Negative Light", monospace;
}

mat-icon {
  vertical-align: middle;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  background-color: #41B06E;
}

.favicon-container {
  text-align: center;
  display: flex;
  align-items: center;
}

.favicon {
  width: 32px;
  height: 32px;
  margin-left: 1vh;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
}

mat-icon {
  margin-left: 1vh;
  margin-right: 0.5vh;
}

.before-login-icon {
  margin-right: 4vh;
}

a {
  text-decoration: none;
  color: white;
  position: relative;

}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

a:active::after {
  background-color: lightgray;
}

a:active {
  color: lightgray;
}
