<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggenInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav(sidenav)">
        <mat-icon>menu_book</mat-icon>
      </button>
      </div>
      <div class="favicon-container"><a routerLink="/main">Friss kosár</a><img src="favicon.ico" class="favicon" alt=""></div>

      <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="end center" fxHide.xs>

        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><mat-icon>home</mat-icon><a routerLink="/main">Főoldal</a></li>
          <li><mat-icon>shopping_cart</mat-icon><a routerLink="/products">Termékek</a>  </li>
          <li><mat-icon>local_shipping</mat-icon><a routerLink="/delivery">Szállítás</a></li>
          <li><mat-icon>alternate_email</mat-icon><a routerLink="/contact">Rólunk</a> </li>
          <li><mat-icon>settings</mat-icon><a (click)="openDialog('Kuponok')" routerLink="/coupons">Kuponok</a> </li>
          <li><mat-icon>shopping_basket</mat-icon><a (click)="openDialog('Kosár')" class="before-login-icon" routerLink="/basket">Kosár</a> </li>
          <li *ngIf="!(loggedInUser)"><mat-icon>login</mat-icon><a routerLink="/login">Bejelentkezés</a>  </li>
          <li *ngIf="(loggedInUser)"><mat-icon>account_circle</mat-icon><a routerLink="/profile">Profil</a></li>
          <li *ngIf="(loggedInUser)"><mat-icon>logout</mat-icon><a routerLink="/login" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
